@charset "UTF-8";
.ui-panel-inner {
    padding: 0;
    margin-top: -0.5em;
}
.ui-panel-inner .ui-collapsible-set {
    margin-top: -0.5em;
}
.botonTomarFoto {
    width: 100%;
    height: 100%;
    margin-top: 0;
}
#tomarFotoDialogo-popup {
    left: 10px;
    width: 380px;
}
#tomarFotoDialogo-popup .ui-content .ui-icon-delete {
    top: 0;
}
.bein-icon:after {
    background-color: #666;
    background-color: rgba(0,0,0,.3);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    content: "";
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 1em;
}
.ui-icon-go:after,
.ui-icon-blusa:after,
.ui-icon-gancho:after,
.ui-icon-uni:after,
.ui-icon-plan:after {
    background-size: 18px 18px;
}
.ui-icon-go:after {
    background-image: url("../iconos/go.svg");
}
.ui-icon-blusa:after {
    background-image: url("../iconos/blusa.svg");
}
.ui-icon-gancho:after {
    background-image: url("../iconos/gancho.svg");
}
.ui-icon-uni:after {
    background-image: url("../iconos/uni.svg");
}
.ui-icon-plan:after {
    background-image: url("../iconos/plan.svg");
}
.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a {
    padding-left: 2em;
}