@charset "UTF-8";
.ui-panel-inner {
    padding: 0;
    margin-top: -0.5em;
}
.ui-panel-inner .ui-collapsible-set {
    margin-top: -0.5em;
}
.subColapsible {
    margin-left: -1em !important;
    margin-right: -1em !important;
}
#contFotos img {
    max-width: 94%;
    height: auto;
    border-radius: 0.3em;
    display: block;
    margin: 3px auto auto 2px;
    box-shadow: 1px 2px 2px 0px #7C7C7C;
}
#tomarFotoDialogo-popup {
    left: 10px;
    width: 380px;
}
#tomarFotoDialogo-popup .ui-content .ui-icon-delete {
    top: 0;
}
.listaRopa img{
    display: block;
    width: 100%;
    height: auto;
}
.listaRopa img {
    width: 100%;
    display: none;
}
.listaRopa img:first-child {
    display: block;
}
.bein-icon:after {
    background-color: #666;
    background-color: rgba(0,0,0,.3);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    content: "";
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 1em;
}
.ui-icon-go:after,
.ui-icon-blusa:after,
.ui-icon-gancho:after,
.ui-icon-uni:after,
.ui-icon-entrevista:after,
.ui-icon-plan:after
.ui-icon-chaqueta:after
.ui-icon-panatalones:after
.ui-icon-tacones:after
.ui-icon-vestidos:after
.ui-icon-coctel:after
.ui-icon-camisas:after
.ui-icon-esque:after
.ui-icon-camiseta:after
.ui-icon-jeans:after
.ui-icon-capris:after
.ui-icon-casual:after
.ui-icon-deporti:after{
    background-size: 18px 18px;
}
.ui-icon-go:after {
    background-image: url("../iconos/go.svg");
}
.ui-icon-blusa:after {
    background-image: url("../iconos/blusa.svg");
}
.ui-icon-gancho:after {
    background-image: url("../iconos/gancho.svg");
}
.ui-icon-uni:after {
    background-image: url("../iconos/uni.svg");
}
.ui-icon-plan:after {
    background-image: url("../iconos/plan.svg");
}
.ui-icon-coctel:after {
    background-image: url("../iconos/coc.svg");
}
.ui-icon-entrevista:after {
    background-image: url("../iconos/entreve.svg");
}
.ui-icon-pantalones:after {
    background-image: url("../iconos/pantalones.svg");
}
.ui-icon-vestidos:after {
    background-image: url("../iconos/vestidos.svg");
}
.ui-icon-chaqueta:after {
    background-image: url("../iconos/chaqueta.svg");
}
.ui-icon-tacones:after {
    background-image: url("../iconos/tacones.svg");
}
.ui-icon-esque:after {
    background-image: url("../iconos/esque.svg");
}
.ui-icon-camiseta:after {
    background-image: url("../iconos/camiseta.svg");
}
.ui-icon-jeans:after {
    background-image: url("../iconos/jeans.svg");
}
.ui-icon-capris:after {
    background-image: url("../iconos/capris.svg");
}
.ui-icon-casual:after {
    background-image: url("../iconos/casual.svg");
}
.ui-icon-deporti:after {
    background-image: url("../iconos/deporti.svg");
}
.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a,
.subColapsible > .ui-collapsible-heading > a {
    padding-left: 2em;
}
.subColapsible > .ui-collapsible-content > .ui-listview > li > a {
    padding-left: 3em;
}