<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bein-app.app"
        versionCode = "4" 
        version     = "0.1.1" >

    <!-- versionCode is optional and Android only -->

    <name>Be.In</name>

    <description>
        Guía diaria de vestuario para dispositivos móviles.
    </description>

    <author href="http://www.bein-app.com" email="info@bein-app.com">
        Be.In Grupo de diseño 
    </author>
    
    <gap:splash src="splash.png" />
    
    <icon src="icon.png" />
    
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />

</widget>