<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bein-app.app"
        versionCode = "2" 
        version     = "0.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>Be.In</name>

    <description>
        ¡Decide cómo vestirte hoy! 
    </description>

    <author href="http://www.bein-app.com" email="info@bein-app.com">
        Be.In Grupo de diseño 
    </author>
    
    <gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.9" />

</widget>